<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webPages:Enabled" value="false" />
		<add key="osticket_url" value="http://192.168.80.48/osticket" />
		<add key="osticket_apikey" value="DCFB4EC0A3D6E6A93C92397DE72739E9" />
	</appSettings>
	<system.web.webPages.razor>
		<pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
			<namespaces>
				<add namespace="Nancy.ViewEngines.Razor" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
</configuration>