<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webPages:Enabled" value="false" />
		<!-- Informações referentes ao Central de Atendimento (OsTicket) -->
		<add key="osticket_url" value="http://192.168.80.51/osticket" />
		<add key="osticket_apikey" value="DE07FFAF9B1A1A73DBD6AFB6B1DB455A" />
	</appSettings>
	<system.web.webPages.razor>
		<pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
			<namespaces>
				<add namespace="Nancy.ViewEngines.Razor" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
</configuration>